* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(82, 49, 12);
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(32, 99, 24);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 75px;
    animation: pipe-animation 2s infinite linear;
}

.blop {
    width: 90px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms infinite ease-out;
}

.cloud {
    position: absolute;
    width: 550px;
    animation: cloud-animation 10s infinite linear;
    opacity: 50%;
}

@keyframes pipe-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes cloud-animation {
    from {
        right: -600px;
    }

    to {
        right: 100%;
    }
}